.grid.static{
    position:absolute;
}

.cell{
    width:20px;
    height:20px;
    border:1px solid #eee;
    display:inline-block;
    border-radius:50%;

    &.player{
        background:#d00;
    }

    &.alive{
        background:#333;

        &.engorged{
            background:#933;
            border-color:#933;
        }
    }

    &.engorged{
        width:30px;
        height:30px;
        margin-top:-5px;
        margin-bottom:-5px;
    }
}

.resource{
    &.life *{
        fill:rgb(35, 104, 28);
        stroke:#0595d8;
    }

    &.point *{
        fill:gold;
        stroke:#5d8b83;
    }
}

.grid *{
    line-height: 0;
    font-size:0;
}

.gridWrapper{
    display:inline-block;
}

/*************************************************************************/
// Themes
/*************************************************************************/

.gooey{
    .dynamic{
        // https://css-tricks.com/gooey-effect/
        filter: url('../svg-filters/gooey.svg#goo');
        -moz-filter: url('../svg-filters/gooey.svg#goo');
        -webkit-filter: url('../svg-filters/gooey.svg#goo');

        .cell{
            border: 1px solid rgba(51, 51, 51, .05); // #333
        }
    }
}

.transition{
    .cell{
        transition:1000ms background-color;


        &.player{
            transition:50ms background-color;
        }
    }
}

.hoveredEffects{
    .cell:hover{
        background:#900;
        cursor:pointer;
    }
}

.experimental{
    .gridWrapper{
        background:#cfe5e1;
    }
    .grid{
        .row{
            .cell{
                border: none;

                &.alive{
                    background:#969;
                }
            }
        }
    }
}