.grid.static {
  position: absolute;
}

.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.cell.player {
  background: #d00;
}

.cell.alive {
  background: #333;
}

.dynamic .cell {
  border-radius: 50%;
}

.resource.life * {
  fill: #23681c;
  stroke: #0595d8;
}

.resource.point * {
  fill: gold;
  stroke: #5d8b83;
}

.grid * {
  line-height: 0;
  font-size: 0;
}

.gridWrapper {
  display: inline-block;
}

/*************************************************************************/
/*************************************************************************/
.gridBuilder .static .cell {
  border: 1px solid #ccc;
  position: relative;
}

.gridBuilder .static .cell svg {
  position: absolute;
}

.gooey .dynamic {
  filter: url("../svg-filters/gooey.svg#goo");
  -moz-filter: url("../svg-filters/gooey.svg#goo");
  -webkit-filter: url("../svg-filters/gooey.svg#goo");
}

.transition .dynamic .cell {
  transition: 500ms background-color;
}

.hoveredEffects .cell:hover {
  background: #900;
  cursor: pointer;
}

.experimental .gridWrapper {
  background: #cfe5e1;
}

.experimental .grid .row .cell.alive {
  background: #969;
}

.resourceAnimation .life {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.resourceAnimation .point {
  animation-name: rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
