.cell{
    width:20px;
    height:20px;
    border:1px solid #eee;
    display:inline-block;

    &.player{
        background:#d00;
    }

    &.alive{
        background:#333;

        &.engorged{
            background:#933;
            border-color:#933;
        }
    }

    &.engorged{
        width:30px;
        height:30px;
        margin-top:-5px;
        margin-bottom:-5px;
    }
}

.grid *{
    line-height: 0;
    font-size:0;
}

// https://css-tricks.com/gooey-effect/
.gooey{
    .grid{
        filter: url('#goo');
        -moz-filter: url('#goo');
        -webkit-filter: url('#goo');

        .cell{
            border: 1px solid rgba(51, 51, 51, .05); // #333
    
            &.alive{
                border-radius:50%;
            }
        }
    }
}

.transition{
    .cell{
        transition:1000ms background-color;
        border-radius:50%;


        &.player{
            transition:50ms background-color;
        }
    }
}

.hoveredEffects{
    .cell:hover{
        background:#900;
        cursor:pointer;
    }
}
